<?xml version="1.0"?>

<launch>
    <!--choose to debug the dope node-->
    <arg   name="debug" default="false" />
    <arg     if="$(arg debug)" name="pdb_arg" value="xterm -e python -m pdb" />
    <arg unless="$(arg debug)" name="pdb_arg" value="" />

    <node name="dope" type="dope.py" pkg="dope" output="screen" launch-prefix="$(arg pdb_arg)">
         <!--rosparam command="load" file="$(arg config_pose)" /-->
    </node>
    <node name="camera" type="camera.py" pkg="dope" />

    <node name="rviz" pkg="rviz" type="rviz" />
</launch>